accelerate @ git+https://github.com/huggingface/accelerate.git@7d24bdefb5b3252505151d8c1ac0efbed3574857
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.0
anyio==3.6.2
arrow==1.2.3
astor==0.8.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
base58==2.1.1
beautifulsoup4==4.12.2
bitsandbytes==0.39.0
black==21.12b0
blessed==1.20.0
blinker==1.6.2
Brotli==1.0.9
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764672617/work
cachetools==5.3.0
certifi==2023.5.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179360775/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
click==7.1.2
comm==0.1.3
contourpy==1.0.7
croniter==1.3.14
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1681508587436/work
cycler==0.11.0
datasets==2.12.0
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
deepdiff==6.3.0
dill==0.3.6
exceptiongroup==1.1.1
executing==1.2.0
fastapi==0.88.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1681839547898/work
flake8==6.0.0
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
gitdb==4.0.10
GitPython==3.1.31
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808679441/work
h11==0.14.0
huggingface-hub==0.14.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata==6.6.0
importlib-resources==5.12.0
inflate64==0.3.1
iniconfig==2.0.0
inquirer==3.1.3
ipykernel==6.23.1
ipython==8.13.2
ipywidgets==8.0.6
isort==5.8.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
lightning==2.0.2
lightning-cloud==0.5.36
lightning-utilities==0.8.0
loguru==0.7.0
markdown-it-py==2.2.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1674135804847/work
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict==6.0.4
multiprocess==0.70.14
multivolumefile==0.2.3
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1682210190296/work
ordered-set==4.1.0
packaging==23.1
pandas==2.0.1
parso==0.8.3
pathspec==0.11.1
peft @ git+https://github.com/huggingface/peft.git@3714aa2fff158fdfa637b2b65952580801d890b2
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1675487166627/work
platformdirs==3.5.1
plotly==5.14.1
pluggy==1.0.0
prompt-toolkit==3.0.38
promptsource==0.2.3
protobuf==4.23.1
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py7zr==0.20.5
pyarrow==12.0.0
pybcj==1.0.1
pycodestyle==2.10.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodomex==3.18.0
pydantic==1.10.7
pydeck==0.8.1b0
pyflakes==3.0.1
Pygments==2.15.1
PyJWT==2.7.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing==3.0.9
pyppmd==1.0.0
pyrsistent==0.19.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==7.3.1
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==2.0.2
pytz==2023.3
PyYAML==6.0
pyzmq==25.0.2
pyzstd==0.15.7
readchar==4.0.5
regex==2023.5.5
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1682535435083/work
responses==0.18.0
rich==13.3.5
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.99
six==1.16.0
sklearn==0.0.post5
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
stack-data==0.6.2
starlette==0.22.0
starsessions==1.3.0
streamlit==0.82.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tenacity==8.2.2
texttable==1.6.7
threadpoolctl==3.1.0
tokenize-rt==5.0.0
tokenizers==0.13.3
toml==0.10.2
tomli==1.2.3
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.11.4
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers.git@17a55534f5e5df10ac4804d4270bf6b8cc24998d
triton==2.0.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata==2023.3
tzlocal==5.0.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
uvicorn==0.22.0
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.6
websocket-client==1.5.1
websockets==11.0.3
widgetsnbextension==4.0.7
xxhash==3.2.0
yarl==1.9.2
zipp==3.15.0
