datasets
tqdm
transformers~=4.31.0
scikit-learn
accelerate
# bitsandbytes
lightning==2.0.6
sentencepiece
peft
# use the version that https://github.com/johnsmith0031/alpaca_lora_4bit/blob/main/requirements.txt uses since they always resolve the dependancy issues
# git+https://github.com/huggingface/peft.git@70af02a2bca5a63921790036b2c9430edf4037e2
# due to a bug we have to downgrade to this one for now https://twitter.com/Teknium1/status/1660003439752138752
bitsandbytes==0.39.1
matplotlib
black
loguru
eleuther-elk==0.1.1
# promptsource
scipy
